@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'pixel';
    src: url('font/shbshbpixel-italic-webfont.woff2') format('woff2'),
         url('font/shbshbpixel-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
  font-family: 'Space Grotesk';
  color: #001193;
  font-weight: normal;
  padding: 20px;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

hr{
  border-top: 1px solid #001193;
  display: block;
}
.hori{
  position:absolute;
  width: 98%;
  margin: 15px 0px 0px 0px;
}

.vertical{
  border-left: 1px solid #001193;
  height: auto;
}
a{
  text-decoration: underline;
  color:#001193;
}

a:active{
  color: #001193;
}
a:visited {
  color: #001193 !important;
}
::selection{
    background-color: #001193;
}

b {
  font-weight: 500;
}

.nav{
  position:fixed;
  left:0px;
  top:0px;
  width:100vw;
  padding:15px;
  height:auto;
  background-color: white;
  color: #001193;
  z-index: 20000;
}

#description{
  font-size: 1.5rem;
  position: absolute;
  width: 700px;
  height: 80px;
  padding-left: 160px;
  display: inline-block;
}
#divideline{
  height: 78px;
  margin-left: 750px;
  margin-right: 40px;
  display: inline-block;
}
.upcomingevent{
left:810px;
top:15px;
position: absolute;
height:90%;
overflow-y: hidden;
}

.about{
  display:none;
}

button{
  background-color: #001193;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.keywords{
  top:100px;
  font-weight: 300;
  font-size: 1.7rem;
  background-color: #001193;
  color:white;
  width: 220px;
  height: auto;
  padding: 5px;
  margin-top:40px;
  line-height: 2.5rem;
  display:inline-block;
  position: absolute;
}

.block{
  border: 1px solid #001193;
  background-color: white;
  padding:10px;
  position:absolute;
}

.blockb{
  border: 3px solid #001193;
  background-color: white;
  position:absolute;
  width: 550px;
  height: auto;
  z-index: 100;
}
.blockl{
  border: 3px solid #001193;
  background-color: white;
  position:absolute;
  height: auto;
  z-index: 100;
}
.blockbb{
  border: 3px solid #001193;
  background-color: white;
  position:fixed;
  width: 70vw;
  height: 80vh;
  z-index: 100;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.assets{
  position:absolute;
  right:10px;
  bottom: 10px;
  width: 22px;
  display:inline-block;
  cursor: pointer;
}

.project-image-pile img{
  width:450px;
  height:auto;
  display: block;
}
.project-vid{
  float:left;
  width:450px !important;
  max-height:800px;
  display: block;
}

.project-image-pile {
  overflow: scroll;
  height:79.3vh;;
  width:490px;
  display:inline-block;
  float:left;
}

.project-description{
  padding: 10px;
}

h1{
  font-family: 'pixel';
  display: inline;
}

h2{
  font-family: 'pixel';
  font-size: 2rem;
  display: inline;
  padding: 10px;
}

h3{
  font-size: 1.5rem;
  font-weight: lighter;
  display: inline;
  padding: 20px;
  width: 233px;
  text-align: center;
}


.projectimage{
  width:200px;
  display: inline-block;
  float: left;
  margin-right:10px;
}
.projectimage-right{
  width:200px;
  display: inline-block;
  float: right;
  margin-left:10px;
}
.projectimages{
  position: relative;
  width:150px;
  display: inline-block;
  float: right;
}

.wrap img,iframe{
  width:150px;
}

.wrap{
  overflow: scroll;
  height:400px;
  width:150px;
  display:inline-block;
}

.studiospace{
  position:absolute;
  width: 450px;
  left: 930px;
  top: 150px;
  height:420px;
  z-index: 5;
}

p{
  padding: 15px;
  width: inherit;
}

/* train code is here */
.train-container{
  position: absolute;
  left:250px;
  top:300px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

.train {
  position: relative;
}

.carriage3 {
  padding-left: 250px;
}
.carriage4 {
  padding-left: 575px;
}

#carriage1 img{
  display: block;
  height:75px;
  width:auto;
}
#carriage2 img{
  display: inline-block;
  width:75px;
  height:auto;
}
#carriage3 img{
  display: block;
  height:75px;
  width:auto;
}
#carriage4 img{
  display: inline-block;
  width:75px;
  height:auto;
}

/* this is image slider */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider-wrapper {
  display: flex;
  width: 2000%; /* Three images, so 300% */
  transition: transform 0.5s ease;
}
.slider-wrapper img {
  width: calc(100% / 3); /* Three images, so 33.3333% */
}
.slider-prev, .slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider-prev {
  left: 0;
}
.slider-next {
  right: 0;
}

.slider-prev img {
  width: 20px;
}
.slider-next img{
  width: 20px;
}

#rotateImg{
  position:absolute;
  right:10px;
  width: 22px;
  display:inline-block;
}
.navM{
  display: none;
}

a:active {
  color:#001193
}

@media only screen and (max-width: 600px) {
  .nav{
    display:none;
  }
  #descriptionM{
    font-size: 2rem;
    position: absolute;
    width: 650px;
    height: 80px;
    padding-left: 200px;
  }
  .navM{
    left:0px;
    top:0px;
    padding-left:20px;
    padding-top:20px;
    z-index: 1000;
    width:100%;
    height: 100px;
    position: fixed;
    overflow: hidden;
    display:block;
    background-color: white;
    color: #001193;
  }

  #rotateImgM{
    position:absolute;
    right:20px;
    display:inline-block;
    width:35px;
  }
  .horiM{
    bottom:0px;
    position:absolute;
    width:186vw;
    margin-block-end:0px;
  }
  .content{
    width:100vw;
    overflow: scroll;
  }
  .upcomingeventM{
    display:none;
  }
  .assets{
    display:none;
  }
}
